 /* Style the navbar */
 #navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #3a5485;
  z-index: 1;
}
/* Navbar links */
#navbar a {
  float: left;
  display: flex;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 14px;
}
/* Hover */
#navbar a:hover {
  background-color: #94b5f3;
  color: rgb(255, 251, 251);
}
/* Active */
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Page content */
.content {
  padding: 16px;
} 

#about {
  padding-top: 30px;
}

#projects {
  padding-top: 30px;
}

#hireme {
  padding-top: 30px;
}

#space {
  height: 1000px;
}

