
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Style the navbar */
 #navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #3a5485;
  z-index: 1;
}
/* Navbar links */
#navbar a {
  float: left;
  display: flex;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 14px;
}
/* Hover */
#navbar a:hover {
  background-color: #94b5f3;
  color: rgb(255, 251, 251);
}
/* Active */
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Page content
.content {
  padding: 16px;
}  */

#home {
  padding-top: 50px;
}

#about {
  padding-top: 50px;
}

#projects {
  padding-top: 50px;
}

#hireme {
  padding-top: 50px;
}

#space {
  height: 1000px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  height: 50%;
  padding: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh; /* Full viewport height */
}

.container_half {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    background-image: url(https://cdn2.steamgriddb.com/hero/889fbd1aec443cef389ea10c93b498d8.jpg);
    background-size: 100%;
    background-position: center;
    height: 45vh;
}

.sotlogo {
    height: 70%;
    width: 70%;
    object-fit: contain;
    filter: drop-shadow(0 0 0.75rem gold);
    transition: transform 0.3s ease-in;
}

.sotlogo:hover {
    transform: scale(1.2);
}
